*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background-color: rgb(10, 36, 59);
}
header{
    position: sticky;
    top: 0px;
    width: 100%;
    height: 100px;
    background-color: rgb(20, 20, 20);
    display: block;
}
.linkTitulo{
    text-decoration: none;
}
.logoPrincipal{
    width: 100px;
}
.lupa{
    width: 60px;
}
.carrito{
    width: 60px;
}
#navFlex{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
}
li{
    list-style-type: none;
}
.tituloPrincipal{
    font-size: 70px;
    color: white;
    font-family: 'Libre Baskerville', serif;
}
.divTitulo,#paginas{
    text-align: center;
}
.subtitulo{
    position: relative;
    color: white;
    font-size: 20px;
    top: -15px;
}
.productosDestacadoIMG{
    width: 100%;
    height: 350px;
    text-align: center;
}
#paginas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;

}
.pagina1,.pagina2,.pagina3,.pagina4{
    font-size: 30px;
    color: rgb(195, 195, 195);
}
#imagenpaginas{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
}
.pcgamerimagen0{
    width: 170px;
}
.notebookimagen0{
    width: 220px;
}
.gabineteimagen0{
    width: 200px;
}
.monitorimagen0{
    width: 180px;
    padding: 0px 18px;
}
#mainFooter{
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: rgb(17, 33, 112);
}
#idFooter{
    width: 100%;
    height: 120px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: flex-end;
}
.instagram,.youtube,.twitter{
    position: relative;
    width: 40px;
    margin: 0px 20px 0px 0px;
    
}
.fiscaldata{
    position: relative;
    width: 80px;
}
.divLinks{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.divContacto{
    position: absolute;
    text-align: center;
    width: 100%;
    margin-top: 50px;

}
.linkcodigo{
    color: white;
    background-color: rgb(27, 26, 26) ;
    border: 1px solid black;
    border-radius: 5px;
}
p,#mainContactos{
    text-align: center;
    margin-top: 50px;
}
#idContactos{
    margin: 0px 0px 0px 0px;
    display: inline-block;
    background-color: aliceblue;
    width: 600px;
    height: 500px;
}
.buscar{
    position: absolute;
    padding: 5px;
    right: 100px;
}
.buscar input{
    width: 0px;
    height: 40px;
    padding: 0px 20px;
    font-size: 18px;
    color: black;
    outline: none;
    border: 1px solid silver;
    border-radius: 30px;
    transition: all 0.6s ease;
}
.btn{
    position: absolute;
    top: 0;
    right: 0;
    background: #440080;
    width: 55px;
    height: 55px;
    line-height: 55px;
    text-align: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
    cursor: pointer;    
}
.buscar:hover input{
    width: 240px;
}
.buscar input:focus{
    width: 240px;
}
.formularios{
    text-align: left;
    color: black;
}
.imagenpc{
    height: 225px;
    width: 225px;
}
.precio{
    text-align: start;
    padding: 5px 15px;
    margin-top: 0px;
    background-color: #440080;
    border-radius: 0px 7px 7px 0px;
}
.product-box{
    margin: 0px 0px 0px 0px;
    background-color: rgb(152, 245, 245);
}
.gridContainer{
    min-height: 100vh;
    display: grid;
    grid-template-areas: 
    "header header header"
    "section section section"
    "section section section"
    "footer footer footer";
}
.headerGrid1{
    grid-area: header
}
.sectionGrid{
    grid-area: section;
    display: grid;
    grid-template-areas:     
    "productos productos productos"
    "productos2 productos2 productos2";
}
.productos{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    grid-area: productos;
}
.productos2{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    align-items: baseline;
    grid-area: productos2;
}
.gridFooter{
    display: flex;
    bottom: 0px;
    width: 100%;
    height: 120px;
    background-color: rgb(17, 33, 112);
    grid-area: footer;
}
.productFooter{
    display: flex;
}
.fa-solid{
    top: 7px;
    position: relative;
}
.btnComprar{
    margin: 0px 0px 0px 22px;
    text-align: center;
    width: 75px;
    background-color: darkslategrey;
    color: darkgray;
}